.search{
	display: none;
}

.container{}
.addNotice-contents{
	width: 920px;
	margin: auto;
	padding: 50px 0;
}
.addNotice-contents h2{
	color: #16a085;
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 20px;
}

.notice-header{
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	padding-left: 10px;
}
.notice-header label{
	font-size: 20px;
	font-weight: bold;
}
.notice-header input{
	width: 80%;
	border: 1px solid #aaa;
}
.notice-contents{
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: #eee;
}
.notice-contents label{
	font-size: 20px;
	font-weight: bold;
}
.notice-contents textarea{
	border: 1px solid #ccc;
}
.submit-btn{
	text-align: center;
}
.submit-btn input{
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px 25px;
	margin: 15px;
	background-color: cadetblue;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}
.submit-btn input:hover{
	border: 1px solid cadetblue;
	background-color: #fff;
	color: cadetblue;
	font-weight: bold;
}