footer{}
.footer-inner{
	background-color: #ddd;
	width: 980px;
	height: 70px;
	margin: auto;
	display: flex;
	align-items: center;
}
.footer-logo{
	width: 180px;
	margin-top: -30px;
	text-align: center;
}
.footer-logo a{
	color: #16a085;
	font-weight: bold;
	font-size: 16px;
}
.copyright{
	width: 600px;
	height: 50px;
	line-height: 15px;
	font-size: 13px;
	border-right: 2px solid #aaa;
}
.copyright p{
	margin: 0;
}
.sns{
	width: 200px;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.sns a{
	padding: 10px;
}
.sns img{
	width: 30px;
}